@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
  font-family: "JetBrains Mono", monospace !important;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  height: 100%;
}

.header {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right {
  width: 50%;
}

.leftHeader {
  padding: 4px;
}

.body {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: 4px 0;
}

.code {
  min-height: 100px;
  height: 300px;
  border: 1px solid black;
  resize: vertical;
  font-size: 0.9rem;
}

.sql {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

.error {
  color: red;
  margin: 10px 8px -5px;
  min-height: 41px;
}

.loading {
}

.varNameDb {
  border: none;
  font-size: 1rem;
}

.varNameLabelLeft {
  display: inline-block;
  width: 55px;
}

hr {
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.version {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.versionName {
  display: inline-block;
  width: 50px;
}
